In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline
import re
from collections import Counter
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.linear_model import LogisticRegression

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))


# Any results you write to the current directory are saved as output.

/kaggle/input/whats-cooking/test.json.zip
/kaggle/input/whats-cooking/train.json.zip
/kaggle/input/whats-cooking/sample_submission.csv.zip
/kaggle/input/whats-cooking-kernels-only/test.json
/kaggle/input/whats-cooking-kernels-only/train.json
/kaggle/input/whats-cooking-kernels-only/sample_submission.csv.zip

In [2]:
df = pd.read_json('/kaggle/input/whats-cooking-kernels-only/train.json')
b= pd.read_json('/kaggle/input/whats-cooking-kernels-only/test.json')

In [3]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [4]:
def pre(ls):
    a = " ".join(str(x) for x in ls)
    return a;

In [5]:
df['A'] = df['ingredients'].apply(pre)
b['B'] = b['ingredients'].apply(pre)
y = df.cuisine.values

In [6]:
X=df['A'].values
test=b['B'].values

In [7]:
tfidfconverter = TfidfVectorizer(max_features=3000, min_df=4, max_df=0.9, stop_words=stopwords.words('english'))  
a = tfidfconverter.fit_transform(X).toarray()
X_test = tfidfconverter.transform(test).toarray()

In [8]:
a.shape

(39774, 1982)

We are using Logistic Regression model

In [9]:
logmodel = LogisticRegression(solver='lbfgs')
logmodel.fit(a,y)
p= logmodel.predict(X_test)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [10]:
submission = pd.DataFrame() 
submission['id'] = b.iloc[:, 0].values 
submission['cuisine'] = p
submission.to_csv('submission.csv', index=False)

In [11]:
submission.head()

      id       cuisine
0  18009       british
1  28583   southern_us
2  41580       italian
3  29752  cajun_creole
4  35687       italian